<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>initServlet</servlet-name>
        <servlet-class>de.elbe5.application.CodefInitServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>de.elbe5.servlet.ContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>de.elbe5.file.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>de.elbe5.servlet.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/ctrl/*</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>de.elbe5.application.AppContextListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
