#planContainer {
  margin: 0;
  padding: 0;
}
#planContainer #plan {
  max-width: 100%;
}
#planContainer #planPositioner {
  position: relative;
  width: 60px;
}
#planContainer #planPositioner span {
  position: relative;
  left: -8px;
  top: 8px;
  color: red;
  font-size: 75%;
}

body {
  background: #f8f9fa url("../img/bricks_light.png");
  position: relative;
  color: #343a40;
  height: 100%;
}

a, a:active, a:hover, a:visited {
  color: #343a40;
}

button:focus, a:focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

.table th {
  font-weight: normal;
}

.htmlBox {
  padding: 1rem;
}

.imageBox {
  padding: 0;
}
.imageBox img {
  width: 100%;
}

.imageScrollBox {
  padding: 0;
  overflow-x: auto;
}

div#pageContainer {
  background: white;
}

header {
  background: transparent;
  color: #343a40;
  position: fixed;
  z-index: 1030;
  top: 0.5rem;
  left: 0;
  right: 0;
  height: 6.5rem;
}
header .navbar-collapse {
  position: relative;
}
header > .container {
  margin-top: 0.5rem;
  background: #f0f0f0;
  border-radius: 5px 5px 0 0;
}
header div.top a {
  text-decoration: none;
  color: #343a40;
}
header div.top section.sysnav {
  background: transparent;
}
header div.top section.sysnav a.nav-link {
  padding: 0;
  margin: 0.25rem 0 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: #343a40;
}
header div.top section.sysnav a.nav-link.toggle {
  font-size: 0.7rem;
  margin-top: 0.35rem;
}
header div.menu {
  background: transparent;
}
header div.menu section.menu nav.navbar {
  padding: 0.25rem 0;
}
header div.menu section.menu nav.navbar .navbar-toggler span {
  color: #343a40;
}
header div.menu section.menu nav.navbar a.navbar-brand {
  padding: 0;
  font-size: 1.5em;
}
header div.menu section.menu nav.navbar a.navbar-brand img {
  height: 40px;
}
header div.menu section.menu nav.navbar .navbar-collapse {
  border-bottom: 1px solid #343a40;
}
header div.menu section.menu nav.navbar .nav-item a {
  color: #343a40;
}
header div.menu section.menu nav.navbar .nav-link {
  padding: 0.25rem 1rem;
}
header div.menu section.menu nav.navbar .dropdown-toggle::after {
  vertical-align: 0.1em;
}
header div.menu section.menu nav.navbar .dropdown-menu {
  background: #f0f0f0;
  padding: 0.25rem 0;
  margin: 0;
  border-color: #343a40;
  border-width: 0 1px 1px 1px;
  border-radius: 0;
  max-height: 30em;
  overflow-y: scroll;
}
header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item:focus, header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item:active, header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
}
header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item.subitem {
  padding-left: 3rem;
  font-size: 0.9rem;
}
header div.menu section.menu nav.navbar .dropdown-menu .nav-item a {
  color: #343a40;
}
header section.bc .filter li, header section.filter .filter li {
  margin-left: 1rem;
}
header section.bc .filter a, header section.filter .filter a {
  margin: 0.25rem 0 0.25rem 1.5rem;
  font-size: 0.8rem;
  color: #343a40;
  cursor: pointer;
}
header section.bc .breadcrumb, header section.filter .breadcrumb {
  background: transparent;
  color: #343a40;
  margin: 0;
  font-size: 0.8rem;
  padding: 0.25rem 0;
}
header section.bc .breadcrumb .breadcrumb-item.active, header section.filter .breadcrumb .breadcrumb-item.active {
  color: #343a40;
}
header section.bc .breadcrumb a, header section.filter .breadcrumb a {
  color: #343a40;
  text-decoration: none;
}

main {
  position: fixed;
  top: 7.1rem;
  bottom: 2.2rem;
  left: 0;
  right: 0;
  background: transparent;
}

.contentTop {
  margin-bottom: 0.5rem;
}

div#pageContainer {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background: white;
  color: #343a40;
  border: solid black;
  border-width: 1px 0 1px 0;
}

div#pageContent {
  padding: 1rem 0;
}
div#pageContent h1, div#pageContent h2, div#pageContent h3 {
  margin: 0;
}
div#pageContent .headerBox {
  padding: 0.5rem 1rem;
}
div#pageContent .headerBox h1 {
  text-align: center;
}
div#pageContent h3.partHeader {
  background: #343a40;
  padding: 0.5rem 1rem;
}
div#pageContent .paragraph {
  border: solid 1px #343a40;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  height: calc(100% - 2rem);
  overflow: hidden;
}
div#pageContent .paragraph h2 {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
div#pageContent .paragraph h3 {
  border-width: 1px 0;
  border-style: solid;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
div#pageContent .contentSection.tableContent {
  overflow-y: hidden;
  overflow-x: scroll;
}
div#pageContent .contentSection.tableContent h3 {
  margin-bottom: 1rem;
}
div#pageContent .asideSection .paragraph {
  background: #f8f9fa;
  border-color: #343a40;
}

footer {
  position: fixed;
  z-index: 1030;
  bottom: 0.2rem;
  left: 0;
  right: 0;
  height: 2rem;
  color: #343a40;
  font-size: 0.8rem;
  padding: 0;
}
footer > .container {
  height: 100%;
  background: #f0f0f0;
  border-radius: 0 0 5px 5px;
}
footer a, footer a:active, footer a:hover, footer a:focus, footer a:visited {
  color: #343a40;
}

/* login */
body.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body.login #main {
  top: 0;
}
body.login #main .loginSection .form {
  width: 100%;
  max-width: 360px;
  padding: 30px;
  margin: 20% auto;
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
}
body.login #main .loginSection .form img {
  height: 50px;
  text-align: left;
}
body.login #main .loginSection .form .form-control:focus {
  z-index: 2;
}
body.login #main .loginSection .form input[type=text] {
  margin-bottom: 0.5rem;
}
body.login #main .loginSection .form input[type=password] {
  margin-bottom: 2rem;
}
body.login #main .loginSection .form .container {
  padding-bottom: 1rem;
}
body.login #main .loginSection .form .container label {
  padding-left: 0;
}

div.projectSelector {
  text-align: center;
}
div.projectSelector h1 {
  font-size: 1.25rem;
}
div.projectSelector h1, div.projectSelector div {
  margin-bottom: 1rem !important;
}

#plan {
  cursor: crosshair;
}

table.defect-table {
  font-size: 0.8em;
}
table.defect-table th {
  white-space: nowrap;
  position: sticky;
}
table.defect-table th a.fa {
  font-size: 0.8em;
  margin-left: 0.5em;
  cursor: pointer;
}
table.defect-table th div.dropdown-menu {
  padding: 0.25em 0;
  font-size: 1em;
}
table.defect-table th div.dropdown-menu label {
  margin: 0;
}
table.defect-table th div.dropdown-menu a {
  cursor: pointer;
}
table.defect-table tr {
  border-bottom: 1px solid lightgray;
}

div.defectimage {
  height: 150px;
}
div.defectimage img {
  height: 100%;
}

div.boxContainer {
  font-size: 0.8em;
}
div.boxContainer div.box div.boxTitle {
  padding: 1em 1em 0 1em;
  border-bottom: 1px solid black;
  font-weight: bold;
}
div.boxContainer div.box div.boxText {
  padding: 0 1em 1em 1em;
}
div.boxContainer div.box div.boxImage {
  padding: 0.5em 1em 1em 1em;
}
div.boxContainer div.box div.boxSubtitle {
  padding: 0 1em 1em 1em;
}

span.inactive {
  color: #6c757d;
}

/*# sourceMappingURL=layout.css.map */
